:root {
    --logo-red: rgb(183, 46, 55);
    --logo-blue: rgb(78, 150, 175)
}

html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    row-gap: 10px;
    background-image: url("../img/louis-hansel-Pizzeria.jpg");
    background-size: 100vh;
    position: absolute;
    background-attachment:fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.restaurant-logo {
    width: 70px;
    height: auto;
}

.left-header {
    display: flex;
    align-items: center;
}

#header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #fff;
    padding: 0px 10px;
    opacity: 0.9;
}
@media (max-width: 580px) {
    #content {
        grid-template-rows: 125px 1fr 50px;
        padding-bottom: 10px;
    }
    #content #header {
        flex-direction: column;
    }
    .center-content {
        flex-wrap: nowrap;
    }
    .center-content #contact-page {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 95%;
    }
    #contact-page .contact-greet {
        align-self: center;
    }
    .center-content .card {
        width: 90%;
        overflow-y: scroll;
        text-overflow: ellipsis;
    }
    #header #active {
        margin-top: 0px;
        background-color: var(--logo-blue);
        scale: 0.95;
    }
    #content #center-content {
        height: fit-content;
    }
    #content .center-content .card .card-description {
        text-overflow: ellipsis;
        overflow-y: scroll;
    }
}

#header ul{
    display: flex;
    flex-wrap:wrap-reverse;
    flex-direction: minmax(column, row);
    justify-content: end;
    gap: 2vw;
    list-style: none;
}

button {
    padding: 8px 10px;
    width: 10vw;
    min-width: 60px;
    background-color: var(--logo-red);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    transition: all 0.25s linear;
    opacity: 1;
    max-width: 100px;
}

button:hover {
    cursor: pointer;
    border: 1px solid black;
    scale: 1.1;
}
#active, 
#active:hover {
    background-color: var(--logo-blue);
    margin-top: 5px;
    scale: 1;
    cursor: auto;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10vw; */
    gap: 20px;
    flex-wrap: wrap;
}

#footer {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 5px;
    border-top: 3px solid var(--logo-red);
    background-color: white;
    opacity: 0.9;
    font-size: 18px;
}

.card {
    position: static;
    height: 200px;
    width: 80vw;
    min-width: 355px;
    max-width: 600px;
    background: white;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr;
    border: 2px solid lightslategray;
    border-radius: 10px;
    column-gap: 10px;
    padding: 0px 5px;
    overflow: auto;
    transition: scale 0.3s 0.1s;
    opacity: 0.95;
}
.card, #home-page, #contact-page {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.card:hover  {
    scale: 1.02;
    transition-duration: 0.3s 0.1s;
}

.card-img {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    width: 200px;
    align-self: center;
    justify-self: flex-start;
    border: 1px dotted lightslategray;
}

.card-title {
    align-self: center;
}

.card-description {
    justify-self: center;
    align-self: start;
}


#home-page {
    background-image: url(../img/restaurantLogo.png);
    background-position: center;
    background-size: cover;
    row-gap: 30px;
    height: 90%;
    width: 80vw;
    max-width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-page > * {
    position: relative;
    bottom: 10px;
}
#home-name {
    text-align: center;
    align-self: end;
    opacity: .9;
}
#home-name span {
    color: var(--logo-red);
    font-weight: bolder;
    font-size: xx-large;
}
#home-name, #home-description {
    opacity: 0.9;
    background-color: #fff;
    border: 2px solid lightslategray ;
    border-radius: 10px;
}
#home-description {
    align-self: start;
    grid-area: 2 / 1;
    padding: 20px 15px;
}

#home-page:hover, #contact-page:hover {
    scale: 1.01;
}

#home-page, #contact-page {
    padding: 10px;
    background-color: white;
    border: 2px solid lightslategray;
    border-radius: 15px;
    opacity: 0.97;
    display: grid;
    transition: scale 0.5s 0.1s;
}

#contact-page {
    text-align: center;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 1fr ;
    overflow-y: scroll;
}

#contact-form {
    grid-row: 2;
    grid-column: 2;
}

#pizza-boy {
    width: 100%;
    opacity: 1;
    justify-self: center;
    max-width: 550px;
    height: auto;
    grid-row: 2;
    grid-column: 1;
}

.contact-greet {
    align-self: end;
    margin-bottom: 20px;
    color: var(--logo-red);
}

.contact-phone {
    margin-top: 20px;
}