html,
body {
    width: 100vw;
    height: 100vh;
}

#content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    row-gap: 10px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.restaurant-logo {
    width: 70px;
    height: auto;
}

.left-header {
    display: flex;
    align-items: center;
}

#header {
    position: sticky;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
    align-items: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #fff;
    padding: 0px 10px;
}

#header select {
    position: relative;
    right: 10px;
    width: 100px;
    text-align: center;
    padding: 8px 0px;
    justify-self: end;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: red;
    color: white;
}

.center-content,
body {
    background-color: lightgrey;
}

.center-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#footer {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 5px;
    background-color: lightblue;
    font-size: 18px;
}

.card {
    position: relative;
    height: 200px;
    width: 80vw;
    min-width: 355px;
    background: white;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr;
    border: 2px solid lightslategray;
    border-radius: 10px;
    column-gap: 10px;
    padding: 0px 5px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    transition: 0.2s;
    overflow-y: hidden;
}
.card:hover {
    scale: 1.02;
}

.card-img {
    position: relative;
    grid-row: 1 / -1;
    width: 200px;
    align-self: center;
    justify-self: center;
    border: 1px dotted lightslategray;
}

.card-title {
    align-self: end;
}

.card-description {
    overflow-y: scroll ;
    justify-self: center;
    align-self: start;
}